@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Product Questions: </strong><a href="mailto:jacobcspears@gmail.com">JacobCSpears@gmail.com</a>
    <strong>Technical Support: </strong><a href="mailto:stephaniespears1@gmail.com">StephanieSpears1@gmail.com</a><br />
</address>