@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AriMari Products</h1>
    <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ac ligula et enim tincidunt commodo sit amet quis velit. Suspendisse nec consequat turpis. Mauris pretium sapien nibh, ut imperdiet nunc molestie eget. Fusce sed metus suscipit ligula luctus dictum vitae in ante. Pellentesque ut mollis velit. Proin placerat laoreet lobortis. Nullam scelerisque eget augue in molestie. Ut sed finibus dui, nec mollis ipsum.
    </p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Title Placeholder</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ac ligula et enim tincidunt commodo sit amet quis velit. Suspendisse nec consequat turpis. Mauris pretium sapien nibh, ut imperdiet nunc molestie eget. Fusce sed metus suscipit ligula luctus dictum vitae in ante. Pellentesque ut mollis velit. Proin placerat laoreet lobortis. Nullam scelerisque eget augue in molestie. Ut sed finibus dui, nec mollis ipsum.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>